<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(25,25,25);
            color:white;
        }
        a{
            background-color: rgb(227, 242, 255);
            padding: 3px 7px;
            text-decoration: none;
            border-radius: 3px;;
        }
        a:hover
        {
            text-decoration: underline;
            cursor:pointer;
        }
        </style>
</head>
<body>
    <a href="/">Go to home</a>
    <h2><%= filename %></h2>
    <%if(filedata){%>
    <p><%= filedata %></p>
    <%} else {%>
    <p style="color:gray">No data in file</p> 
    <% } %> 
</body>
</html>